body {
    padding: 0;
    margin: 0;
    background-image: url("images/background.webp");
    background-size: cover;
    background-position: top;

  }
  #instructionText {
    font-family: 'Courier New';
    font-size: 50px;
    text-align: center;
    font-weight: 600;
    color: rgb(212, 26, 26);
    -webkit-text-stroke: 1px white;
    margin-top: 100px;
  }
  #advice-container {
    display: none;
    position: fixed;
    top: 50%; /* Position the container 50% from the top */
    left: 50%; /* Position the container 50% from the left */
    transform: translate(-50%, -50%); /* Center the container */
    text-align: center; /* Center the text horizontally */
    max-width: 400px; /* Limit the width of the text */
    padding: 20px; /* Add padding to create frame behind text */
    background-color: rgb(245, 222, 216); 
    border: 2px solid black; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add shadow for depth */
}
#GetAdviceButton {
    background: none; /* Removes button background */
    border: none; /* Removes border */
    cursor: pointer; /* Shows handcurser in the clickable area */
    margin-top: -10px;
margin-left: 250px; /* Adjust horizontal posision */
  }
  #GetAdviceButton img {
    max-width: 550px; 
    max-height: 550px; 
  }